<p id="notice"><%= notice %></p>

<ul class="breadcrumb">
	<% for ancestor in @task.ancestors do %>
  <li><%= link_to ancestor.title, ancestor %> <span class="divider">/</span></li>
  <% end %>
</ul>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<% if @task.have_subtasks? %>
	<%= render "subtasks" %>
<% end %>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>

