<!DOCTYPE html>
<html>
<head>
  <title>Tasker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= initjs_tag app_name: 'Tasker' %>

<%= render "shared/navbar"%>

<div class="container">

  <div class="row" style="padding-top: 40px">
    <%= render "shared/sidebar"%>

    <div class="span10">
      <%= yield %>
    </div>

    
  </div>
</div>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>

</body>
</html>
